<nav class="navbar navbar-light bg-faded">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header">
      &#9776;
    </button>

    <div class="collapse navbar-toggleable-xs" id="navbar-header">
        <a class="navbar-brand" href="/"> Restaurant Pickerr</a>
        <ul class="nav navbar-nav">
            <!-- <li class="nav-item" id="nav_li_home">

            </li> -->
            <!-- <li>
                <a href="/geolocation"><span class="glyphicon glyphicon-user"></span> Geolocation Demo</a>
            </li> -->
            <!-- <li>
                <a href="/getGeocode"><span class="glyphicon glyphicon-user"></span> Geocode Demo</a>
            </li> -->
            <li class="nav-item" id="nav_li_yelp">
                <a class="nav-link" href="/yelp"> Search Yelp</a>
            </li>
            <li class="nav-item" id="nav_li_bucketlist">
                <a class="nav-link" href="/bucketlist"> Bucket List</a>
            </li>
            <li class="nav-item" id="nav_li_manage_shared_list">
                <a class="nav-link" href="/manage_shared_list"> Shared List</a>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-xs-right">
            <% if(login) { %>
            <li class="nav-item" id="nav_li_user_settings">
                <form action="/user_settings" method="get">
                    <button type="submit" class="btn btn-outline-success"> Email: <%= email %></button>
                </form>
            </li>

            <li class="nav-item">
                <form action="/logout" method="post">
                    <button type="submit" class="btn btn-outline-warning" id="nav_email" title='<%= email %>'> Logout</button>
                </form>
            </li>
            <% } else { %>
            <li class="nav-item" id="nav_li_login">
                <a class="btn btn-outline-success" href="/login"> Login</a>
            </li>
            <% } %>
        </ul>
    </div>
</nav> <!-- /navbar -->

<div id="background"></div>
<div class="nav_fixed-top-gap" style="margin-bottom: 10px;"></div>
