<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Restaurant Pickerr</a>
      </li>
      <li>
        <a href="/geolocation"><span class="glyphicon glyphicon-user"></span> Geolocation Demo</a>
      </li>
      <li>
        <a href="/getGeocode"><span class="glyphicon glyphicon-user"></span> Geocode Demo</a>
      </li>
      <li>
        <a href="/yelp"><span class="glyphicon glyphicon-user"></span> Yelp Demo</a>
      </li>
    </ul>
  </div>
</nav>
<div id="background"></div>
