<nav class="navbar navbar-light bg-faded">
<button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header">
  &#9776;
</button>
<div class="collapse navbar-toggleable-xs" id="navbar-header">
  <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span> Restaurant Pickerr</a>
  <ul class="nav navbar-nav">
      <!-- <li class="nav-item" id="nav_li_home">

      </li> -->
      <!-- <li>
          <a href="/geolocation"><span class="glyphicon glyphicon-user"></span> Geolocation Demo</a>
      </li> -->
      <!-- <li>
          <a href="/getGeocode"><span class="glyphicon glyphicon-user"></span> Geocode Demo</a>
      </li> -->
      <li class="nav-item" id="nav_li_yelp">
          <a class="nav-link" href="/yelp"><span class="glyphicon glyphicon-user"></span> Yelp Demo</a>
      </li>
      <li class="nav-item" id="nav_li_bucketlist">
          <a class="nav-link" href="/bucketlist"><span class="glyphicon glyphicon-user"></span> Bucket List</a>
      </li>
  </ul>
  <!-- <ul class="nav navbar-nav navbar-right">
      <li class="nav-item" id="nav_li_login">
          <a href="/login"> Login</a>
      </li>
  </ul> -->
  <form class="form-inline pull-xs-right">
    <input class="form-control" type="text" placeholder="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>
</nav> <!-- /navbar -->

<!-- <nav class="navbar navbar-light navbar-fixed-top" style="background-color: #e3f2fd;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li id="nav_li_home">
                    <a href="/"><span class="glyphicon glyphicon-home"></span> Restaurant Pickerr</a>
                </li>
                <li>
                    <a href="/geolocation"><span class="glyphicon glyphicon-user"></span> Geolocation Demo</a>
                </li>
                <li>
                    <a href="/getGeocode"><span class="glyphicon glyphicon-user"></span> Geocode Demo</a>
                </li>
                <li id="nav_li_yelp">
                    <a href="/yelp"><span class="glyphicon glyphicon-user"></span> Yelp Demo</a>
                </li>
                <li id="nav_li_bucketlist">
                    <a href="/bucketlist"><span class="glyphicon glyphicon-user"></span> Bucket List</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="nav_li_login">
                    <a href="/login"> Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->
<div id="background"></div>
<div class="nav_fixed-top-gap" style="margin-bottom: 10px;"></div>
