<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>



    <div class="container center-align">
        <% include ../partials/nav.ejs %>
      <h1>Geolocation Demo</h1>

      <form id="geocoding_form" class="form-horizontal">
        <div class="form-group">
          <div class="col-xs-12 col-md-6 col-md-offset-3">
            <button type="button" class="find-me btn btn-info btn-block">Find My Location</button>
          </div>
        </div>
      </form>

      <p class="no-browser-support">Sorry, the Geolocation API isn't supported in Your browser.</p>
      <p class="coordinates">Latitude: <b class="latitude">42</b> Longitude: <b class="longitude">32</b></p>

      <div class="map-overlay">
        <div id="map"></div>
      </div>

    </div>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7twsePKQ3XBR62UaoY1DiROnh_Fxf5CA">
    </script>

</body>
</html>
