<!DOCTYPE html>
<html>
    <head>
      <% include ../partials/header.ejs %>
    </head>

    <body>
        <div class="container">
            <% include ../partials/nav.ejs %>
            <div class="jumbotron text-center" style="margin-top: 25%;">
                <div class="container">
                    <h1>Weclome to Bucketlist!</h1>
                    <div class="col-md-12">
                        <p>Here is the list of restaurants you saved!</p>
                    </div>
                </div>
            </div>

        </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $(".nav li").removeClass("active");//this will remove the active class from
                                           //previously active menu item
                    $('#nav_li_login').addClass('active');
                });
            </script>
    </body>
</html>
