<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/header.ejs %>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
  <div class="container">
    <% include ../partials/nav.ejs %>

      <div class="row">
        <div class="col-md-12">
          <div class="jumbotron">
            <div class="container">
              <h1>Weclome to the trending page!</h1>
              <div class="col-md-12">
                <p>
                  Here are the most recent favorites.
                </p>

                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Restaurant</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% for (var favorite_index = 0; favorite_index < favorites.length; ++favorite_index) { %>
                      <tr tabindex="<%= favorite_index %>">
                        <td>
                          <%= favorite_index %>
                        </td>
                        <td>
                          <a href="<%=favorites[favorite_index].restaurant.url %>">
                            <%= favorites[favorite_index].restaurant.name %>
                          </a>
                        </td>
                      </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      $(".nav li").removeClass("active");
      $('#nav_li_trending').addClass('active');
    });
  </script>
</body>

</html>
