<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/header.ejs %>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
  <div class="container">
    <% include ../partials/nav.ejs %>

      <div class="row">
        <div class="col-md-12">
          <div class="jumbotron">
            <div class="container">
              <h1>Weclome to the trending page!</h1>
              <div class="col-md-12">
                <p>
                  Show the popular restaurants here.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  <% include ../partials/footer.ejs %>
    <script type="text/javascript">
      $(document).ready(function() {
        $(".nav li").removeClass("active");
        $('#nav_li_trending').addClass('active');
      });
    </script>
</body>

</html>
